.App{
  padding: 0 20%;
  min-width: 500px;
  max-width: 800px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.calc-form {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px
}

label {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0;
}

p, div, h1, h2, h3 {
  font-family: NBS, ArialNarrow, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: rgb(0, 41, 121);
}

h3 {
  margin-bottom: 5px;
}

.bold {
  font-weight: bold;
}

.hideable {
  display: none;
}

.buttons {
  font: 600 18px/1.3333333333333333 NBS, ArialNarrow, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  border: 5px solid rgb(0, 41, 121);
  cursor: pointer;
  padding: 2px 26px;
  overflow: hidden;
  font-size: 18px;
  background: none;
  margin-top: 20px;
  align-items: center;
  font-family: NBS, ArialNarrow, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  line-height: 1.3333333333333333;
  border-radius: 999px;
  letter-spacing: 0px;
  justify-content: center;
  color: #ffffff;
  background-color: #002979;
  text-decoration: none;
}

p {
  font-size: 12px;
}

.advanced {
  color: rgb(0, 41, 121);
  background-color: rgb(255, 255, 255);
}

.details {
  /* padding-left: 25px; */
  padding-top: 5px;
  font-weight: bold;
}

summary.buttons {
  display: inline;
}

summary {
  /* padding-top: 5px; */
  font-size: 0.8rem;
  font-weight: bold;
  padding-bottom: 15px;
  cursor: pointer;
}

.last {
  padding-bottom: 15px;
}